div#main {
    background-image: url("../img/user-login-png-transparent-6-Transparent-Images (1).png");
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-position: 95% bottom;
    background-size: 170px;
}
body {
    background-image: url("../img/radio11.jpg");
    background-repeat: no-repeat;
}