*{
    margin: 0;
    padding: 0;
}
#nav-bar{
    color: white;
   margin: 25px 25px  25px 10px;
    display: inline-block;
}
ul{
list-style-type: none; 
font-size: 1.7em;
width: 280px;
}
li{
    background-color:rgb(207, 28, 198);
    padding: 20px;
    margin: 4px;

}
li:hover{
    font-size: 1.1em;
    background-color: rgb(172, 59, 147);
}
a {
    text-decoration: none;
    color: white;
}